$primary-color: rgb(80, 60, 145);
$complementary-color: #ededed;

$font-color: #202020;
$font-family: sans-serif;


body {
  background: $primary-color;
  margin: 0;
  > * {
    box-sizing: border-box;
  }
  font-family: $font-family;
}

.main-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container-card {
  background: $complementary-color;
  display: flex;
  max-width: calc(100% - 40px);
  flex: 0 1 1200px;
  height: 300px;
  align-self: center;
}