/* Color Variables */
$primary-color: rgb(80, 60, 145);
$complementary-color: #ffffff;
$gradient-color: #0b228a;
$second-gradient-color: rgb(209, 22, 247);
$links: #7DF8FE;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Orbitron:500');
$font-color: #303030;
$font-family: 'Open Sans', sans-serif;
$title-fonts: 'Orbitron', sans-serif;

/* Import files */
@import 'mixins-animations';
@import 'container-card';
@import 'navigation';
@import 'overlay';
@import 'me';
@import 'main-styles';
@import 'experience';

.portfolio-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
  width: 100%;
}

.portfolio-title {
  font-family: $title-fonts;
  font-size: 4em;
  font-weight: 800;
  line-height: 1;
  margin: 0 auto 1em auto;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 767px) {
    font-size: 2.4em;
  }
  @media screen and (max-width: 479px) {
    font-size: 1.8em;
  }
  span {
    font-weight: normal;
    font-size: 0.4em;
    line-height: 1;
    position: absolute;
    top: -30px;
  }
  &:before {
    content: "Portfolio";
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $second-gradient-color;
    opacity: 0.5;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: -1;
  }
  &:after {
    content: "Portfolio";
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $links;
    opacity: 0.6;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: -1;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.portfolio-list {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2em;
  @media screen and (min-width: 674px){
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
  }
  @media screen and (min-width: 1024px){
    grid-template-columns: 1fr 1fr 1fr;
  }
  .portfolio-item {
    display: grid;
    grid-template: 1fr / 1fr;
    position: relative;
    margin-bottom: 2em;
    .item-thumbnail {
      @include aspect-ratio(1, 1);
      border-radius: 10px;
      margin: 0;
      position: relative;
      @media screen and (max-width: 673px){
        border-radius: 10px 50px;
      }
      &::after {
        background: rgba($font-color, 0.4);
        content: " ";
        mix-blend-mode: color;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
      }
      img {
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        mix-blend-mode: overlay;
        max-width: 100%;
        z-index: 0;
      }
      .caption {
        color: $complementary-color;
        font-family: $title-fonts;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 1.2;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 2em;
        font-weight: 700;
        height: auto;
        width: calc(100% - 1.5em);
        text-shadow: 0px 0px 10px $primary-color;
      }
      .portfolio-link {
        &::before {
          content: "\f105";
          font-size: 6em;
          color: $links;
          position: absolute;
          bottom: -30px;
          right: -22px;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          z-index: 3;
        }
      }
    }
    &:nth-child(3n+1){
      .item-thumbnail {
        @include background-gradient-items(120deg, #84fab0, #8fd3f4);
      }
    }
    &:nth-child(3n+2){
      .item-thumbnail {
        @include background-gradient-items(120deg, #fa709a, #fee140);
      }
    }
    &:nth-child(3n+3){
      .item-thumbnail {
        @include background-gradient-items(120deg, #a18cd1, #fbc2eb);
      }
    }
  }
}
