/* Color Variables */
$primary-color: rgb(80, 60, 145);
$complementary-color: #ffffff;
$gradient-color: #0b228a;
$second-gradient-color: rgb(209, 22, 247);
$links: #7DF8FE;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Orbitron:500');
$font-color: #303030;
$font-family: 'Open Sans', sans-serif;
$title-fonts: 'Orbitron', sans-serif;

/* Import files */
@import 'mixins-animations';
@import 'container-card';
@import 'navigation';
@import 'overlay';
@import 'me';
@import 'main-styles';
@import 'experience';
@import 'portfolio';

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 3em auto;
  min-height: 300px;
  padding: 0 2em;
  @media screen and (min-width: 480px) {
    flex: 0 1 600px;
  }
}

.contact-title {
  font-family: $title-fonts;
  font-size: 4em;
  font-weight: 800;
  line-height: 1;
  margin: 0 auto 0.5em auto;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 767px) {
    font-size: 2.4em;
  }
  @media screen and (max-width: 479px) {
    font-size: 1.8em;
  }
  span {
    font-weight: normal;
    font-size: 0.4em;
    line-height: 1;
    position: absolute;
    top: -30px;
  }
  &:before {
    content: "Contact Rob";
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $second-gradient-color;
    opacity: 0.5;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: -1;
  }
  &:after {
    content: "Contact Rob";
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $links;
    opacity: 0.6;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: -1;
  }
}

.wufoo {
  ul.social-media {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      list-style: none;
      margin-right: 0.5em;
      a {
        color: $primary-color;
        &:hover {
          color: darken($links, 30%);
        }
      }
    }
  }
  ul.form-fields {
    display: grid;
    grid-gap: 1em;
    padding-left: 0;
    max-width: 100%;
    @media screen and (min-width: 480px) {
      grid-template: 1fr / 1fr 1fr;
    }
    li {
      box-sizing: border-box;
      list-style: none;
      max-width: 100%;
      input, textarea {
        box-sizing: border-box;
        color: lighten($font-color, 20%);
        font-family: $font-family;
        font-weight: normal;
        max-width: 100%;
        padding: 0.25em 0.5em;
        width: 100%;
        &:focus {
          outline-color: $second-gradient-color;
          outline-width: 1px;
        }
      }
      label {
        font-family: $title-fonts;
        line-height: 1.5;
        width: 100%;
        max-width: 100%;
        .req {
          color: $second-gradient-color;
          font-weight: 800;
        }
      }
      &.hide {
        display: none;
      }
      &.span2 {
        @media screen and (min-width: 480px) {
          grid-column: 1 / span 2;
        }
      }
    }
  }
}